body {
    background: green;
}






aside .logo{
         font-size:40px;
         margin-left:10px;
         font-weight:bold;
         position:relative;
         top: -5px;



 }
aside h3
{      font-size:25px;
margin-top:50px
}
aside ul[list-style:none}
aside ul li{
      color:#fff,
      display:block
      margin-top:20px


  }

main .features {
       float: left;
       color: #fff;
       margin-top: 100px;
       text-align: center;
       width: 75%;


}

main .features h1 {font-size: 50px;}
main .features h1 {max-width: 400px; margin: 20px auto}

.alert-warning {
float:left;
clear:both;
width:400px;
margin: 20px 40%;
text-align: left;




}
form {

margin-left: 20%
width: 500px
margin-top: 50%


}



